node_modules
npm-debug.log
dist
build
reports
.nyc_output
coverage
src/routes.json
/cert.pem
/key.pem
.babel.json
yarn-error.log
.DS_Store
profile
.followRepo.*.log
serve-static.*.log
static/
!src/static
.idea
docker/dist
docker/yarn.lock
docker/package.json
docker/startup
docker/routes.json
docker/.env.start.client
docker/.env.start.server
docker/patches
yalc.lock
.yalc
*/**/.yalc
.history
*.swp
*.iml
packages/next-l10n-crowdin
l10n-extracted
.crowdin-sources
.eslintcache
.vscode
packages/l10n/src/translations/downloadMeta.json
tmp
*.pdf
*.code-workspace
yarn.lock
*/**/.jscpd.json

scripts/lint-report-input.json
lint-strict-report.txt
lint-strict-changed-report.txt

# playwright
.env.e2e
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
